.content {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 130px 300px;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(158,212,220);
    width: 600px;
    height: 630px;
    font-size: 1.5rem;
    box-shadow: aqua 0, 2rem, 2rem, 0;
    border: black;
}

.image img{
    border-radius: %50;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.png img{
    width: 40px;
    height: 40px;
}
.age {
    grid-column: 1/3;
}
.regdate {
    grid-column: 1/3;
}
h4{
    font-weight: 400;
}